#t{
  font-size: 150px;
}



.left, .right{
 width:15%;
  float: top;
   height: 100%;
   display: inline-block;
}

.left{
  float: left;
}

.right{
  float: right;

}


.header h1{
  color: white;
  margin: auto;
  padding: 1em;
  height: 3em;
}
.title{
  margin-left: 1em;
}
.separator{
  color: #f8f6ea;
  margin-left: 1em;
}

.board{
  width:70%;
  display: inline-block;
}

.body_content{
  padding-top:3%;
}


.card{
  width: 80%;
  margin: auto;
}

.image{
  width: 100px;
  height: 100px;
  margin: 5px;
}

.sample{
  width: 110px;
  height: 110px;
  display: inline-block;
  margin: 1em;
}
.title{
  margin-bottom: 1em;
  width: 100%;
  text-align: center;

}

.sep{
  height: 4em;
}
